<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Sunburst - test</title>
    <link rel="stylesheet" href="/dist/main.min.css?{{ts_main}}">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  </head>
  <body>
    <div id="app"></div>
    {{{cdns}}}
      <script type="text/javascript" src="/dist/vendor.min.js?{{ts_vendor}}" charset="utf-8"></script>
      <script type="text/javascript" src="/dist/bundle.min.js?{{ts_bundle}}" charset="utf-8"></script>
      <noscript>
         You aren't a robot are you ;)
         Javascript must be enabled to view this page.
      </noscript>
  </body>
</html>

