
<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Makefile and React Template</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="blue"/>

    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href='/main.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
  </head>
  <body>
    <div id="app"></div>

      <script src="https://unpkg.com/react@16.4.1/umd/react.production.min.js"></script>
      <script src="https://unpkg.com/react-dom@16.4.1/umd/react-dom.production.min.js"></script>
      <!--script src="https://unpkg.com/react-bootstrap@0.32.1/dist/react-bootstrap.min.js"></script-->
      <!--script src='https://unpkg.com/reactstrap@6.3.0/dist/reactstrap.min.js'></script-->
      <script src="https://unpkg.com/reactstrap@6.3.0/dist/reactstrap.full.min.js"></script>

      <!--script src='https://unpkg.com/prop-types@15.6.2/prop-types.min.js'</script -->

      <script type="text/javascript" src="/dist/{{vendor}}" charset="utf-8"></script>
      <script type="text/javascript" src="/dist/{{bundle}}" charset="utf-8"></script>

      <noscript>
         javascript must be enabled to view this page
      </noscript>

  </body>
</html>

